
body {
	background-color: lightgrey;
}

h1 {
	background-color: #4aaaa5;
	float: left;
	font-size: 30px;
	color: #fff;
	padding: 20px 30px;
}

.top {
	width: 75%;
 	margin: 0 auto;
}

ul {
	 padding-top: 10px;
 }

li {
	padding: 10px;	

}


section {

width: 75%;
margin: 0 auto;


}
